body {
    background: #F9F8F3;
    font-family: Verdana;
    color: #193A52;
    padding: 10%;
    height: 100%;
}


/* following two viewport lines are equivalent to meta viewport statement above, and is needed for Windows */
        /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */
        @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }
        @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
        /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/

h1 {
    font-size: 30px;
    font-weight: 900;
    word-wrap: break-word;
}

li {
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

#cheese {
    width: 100%;
    position: relative;
    float: right;
    /* position: absolute;
    bottom: 10px;
    right: 10%; */
}

svg {
    float: right;
}
